.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.warning-button {
  font-size: 40px;
}
.text-white {
  color: white;
}
